venv/
__pycache__
*.pyc
*.pyo
*.pyd

.env
*.secret
config_local.py

*.log

.vscode/
.idea/

.DS_Store
Thumbs.db

*.bak
manual_foto.jpg
my_foto.jpg

.xsession-errors*
.Xauthority
.bash_history
.bash_logout
.bashrc
NoIRx.jpg
